.food-card{
    width: 25vw;
    text-align: center;
    margin: 1vh 2vw;
    border: 1px solid gray;
}
.card-image img{
    width: 100%;
    object-fit: cover;
}
.card-nutrition{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-keys, .card-values{
    list-style: none;
}

.card-cost{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
}