@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary-red: #e1463b;
  --footer-gray: #c9c9c9
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bold{
  font-weight: bold;
}

/*----Main Nav----*/
.main-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--primary-red);
  color: white;
  height: 5vh;
  font-size: 1.4rem;
  align-items: center;
  margin: 0;
  padding: 0;
}
.logo{
  margin-left: 1vw;
}
.nav-links-logo{
  display: flex;
  flex-direction: row;
}
.nav-home-links{
  margin: 0;
}

.nav-links{
  margin: 0 .7vw;
}

.nav-user-links{
  margin: 0;
}

/*----Footer---*/

.footer{
  margin-top: 10vh;
  text-align: center;
  overflow: hidden;
  background-color: var(--footer-gray);
  font-size: 1.2rem;
}

.footer-description, .footer-links, .copyright{
  margin-top: 1vh;
}

/*-----Food Card---*/

.food-card{
  width: 25vw;
  text-align: center;
  margin: 1vh 2vw;
  border: 1px solid gray;
}
.card-title{
  padding: 10px;
  margin: 0;
  font-size: 1.7rem;
}
.card-image img{
  width: 100%;
  object-fit: cover;
}
.card-nutrition{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-keys, .card-values{
  list-style: none;
}

.card-cost{
  font-size: 1.3rem;
  display: flex;
  justify-content: space-evenly;
}

.ingredients, .allegens{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
